/*Estilodelmenu*/
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
nav{
    float: right;
}

nav ul li{
    list-style: none;
    margin-left: 32px;
    float: left;
    padding-top: 22px;
    padding-bottom: 20px;
    position: relative;

}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}
header{background: #e0b288;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}
footer{
    background: #e0b288;
    width: 100%;
    text-align: center;
    padding: 1%;
}
.imglayout{
    width: 140px;
    float: left;
    padding: 1%;
}
.menu{
    width: 1200px;
    margin: 0 auto;
}
.img{
    height: 100px;
    width: 30px;
    margin-left: 300px; 
    
}
.imglayout{
    height: 90px;
    width: 36px;
    margin-left: 0px; 
}
.imglayout1{
    height: 300px;
    width: 800px;
    margin-left: 10px; 
}
.imglayout2{
    height: 300px;
    width: 400px;
    margin-left: 550px; 
    border: #000000;
}
.form{
    height: 100px;
    width: 500px;
    margin-left: 550px; 
    border: #000000;
}