<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css')}}">
</head>
<body>
    <header>
        <div class="menu">
            <a href="#"><img style ="width: 120px;"src="/static/images/logo.jpeg" class="imglayout"></a>

            <nav>
                <ul>
                    <li> <a href="{{url_for('inicio')}}"> Inicio </a> </li>
                    <li> <a href="{{url_for('pronosticos')}}"> Pronósticos </a> </li>
                    <li> <a href="{{url_for('montecarlo')}}"> Montecarlo </a> </li>
                    <li> <a href="/estadistica"> Estadistica </a> </li>
                    <li> <a href="/CuadradosMedios"> Cuadrados Medios</a> </li>
                    <li> <a href="/congruencialineal"> Congruencia Lineal </a> </li>
                    <li> <a href="/CongruencialMultiplicativo"> Congruencia Multiplicativo </a> </li>
                    <li> <a href="{{url_for('manual')}}"> Manual</a> </li>
                    <li> <a href="{{url_for('video')}}"> Video explicativo</a> </li>
                    

                </ul>
            </nav>
        </div>
    </header>
    <br>
    <div align="center">
    
    <h2 style="text-align: center;"> <b > Bienvenido al sistema de Modelamiento y Simulación</b></h2>
    <br>
    <img width="1000px" src="https://storage.googleapis.com/site.esss.co/356e59ad-simulation-engineer.png" alt=""></div>    <br><br>
    
    </div>
    <div>
        <p style="text-align:justify; margin-left: 250px; margin-right: 250px;">El modelamiento y la simulación consisten en el trabajo con el computador
            y, más específicamente, en el trabajo con o el desarrollo de software para,
            justamente, modelar y simular. Las aplicaciones de software pueden ser comprendidas sucintamente en los siguientes términos:
            Existe el software propietario, el software libre y el software de dominio
            público (sin licencia)1
            . En el caso particular de la computación científica,
            empresarial y de negocios, los productos de software propietario son todos
            aquellos que trabajan bajo licencias de código cerrado, tales como Mathematica, MatLab, EcoSim, Arena, IThink, Stella, ProModel, Visim y muchos
            más. No podemos hacer uso de estos productos sin pagar las licencias, además, por lo general, no es permitido (= legal) modificar, desensamblar, copiar o distribuir dicho software. El software libre, por su parte, permite todo
            aquello que el software propietario no admite, salvo algunos compromisos o
            restricciones contractuales (como poner al servicio del público las mejoras
            realizadas a un producto dado o que dichas modificaciones posean, a su vez,
            licencias tecnológicamente neutrales).</p>
    </div>
    <br>
    <div align="center">
        <h2 style="text-align:center;"> <b>¿De qué se trata este sistema?</b></h2>
        <br>
    <img width="800px" src="https://st3.depositphotos.com/1008648/18518/i/450/depositphotos_185187690-stock-photo-businesswoman-touching-and-holding-hand.jpg" alt=""></div>    <br><br>
        <p style="text-align:justify; margin-left: 250px; margin-right: 250px;">El presente proyecto tiene como finalidad el sistematizar y agrupar los distintos temarios vistos en clase
        a lo largo del presente semestre de la materia de Modelamiento y Simulación, para la realización de este se hizo uso de una fuente de datos tomada de un negocio pequeño, la cual se procederá 
    a explicar en el siguiente apartado.</p>
    </div>
    <br>
    <div align="center">
       <h2 style="text-align:center;"> <b>Negocio seleccionado</b></h2>
        <br>
     <br><br>
        <p style="text-align:justify; margin-left: 250px; margin-right: 250px;">El negocio seleccionado para la realización de este proyecto
        se trata de una tienda de barrio, la cual realiza el proceso de compra y venta de producto de consumo masivo, con la finalidad de satisfacer las
    necesidades del público en general</p>
    <br>
        <a  href="#"><img src="/static/images/negocio.JPG" class="imglayout1"></a>
</div>
<br><br>
    <footer class="footer"> 
        <p class="text2">Modelamiento y simulación</p>
        <p class="text2">Proyecto Final</p>
        <p class="text2">Carlos Eduardo Palma Miranda</p>
        <p class="text2">@2022 Todos los derechos reservados</p>
    </footer>
</body>

</html>