{% extends "layout.html" %}

{% block title %}
<title>Cálculo de Media, Mediana y Moda</title>
{% endblock %}

{% block content %}
<br>
<center>
    <h1>Estadística </h1> <br> 
    <a  href="#"><img src="/static/images/estadistica.jpg" class="imglayout1"></a>
    <h1>¿Qué es la estadística?</h1> <br> 
    <p style="text-align:justify; margin-left: 250px; margin-right: 250px;">Es una ciencia y una rama de las matemáticas a través de la cual se recolecta, analiza, describe y estudia una serie de datos a fin de establecer comparaciones o variabilidades que permitan comprender un fenómeno en particular.

        La estadística se vale, en gran medida, de la observación para la recolección de datos que posteriormente serán analizados y comparados a fin de obtener un resultado.</p> <br>
</center>
<BR>
    <center>
    <h1>Formulario para el cálculo estadístico</h1> <br> 
    <p style="text-align:justify; margin-left: 250px; margin-right: 250px;">Por favor, llene el siguiente formulario:</p> <br>
</center>
<div class="container">
    <br>
    <table align="center" border="3" class="form">
        <form enctype="multipart/form-data"   method="POST" action="{{url_for('mediamm')}}"><br>
        <tr>
          <td><strong><label for="exampleFormControlFile1">Subir el archivo en formato (.xlsx, .csv , .json, .html
            etc..)</label><br></strong></td>
         
        </tr>
        
        <tr>
          <td><input name="file" type="file" class="form-control-file form-data" id="exampleFormControlFile1"
            required></td>
         
        </tr>
        
        <tr>
          <td><label for="validationDefault01">Tipo de archivo</label><br></td>
          
        </tr>
        
        <tr>
          <td><select name="tipoarchivo" required>
            <option value="">---</option>
            <option value="1">Excel</option>
            <option value="2">csv </option>
            <option value="3">json</option>
            <option value="4">html</option>
            <option value="5">clipboard</option>
            <option value="6">feather</option>
            <option value="7">fwf</option>
            <option value="8">gbq</option>
            <option value="9">parquet</option>
            <option value="10">pickle</option>
            <option value="11">msgpack</option>
            <option value="12">sas</option>
            <option value="13">sql</option>
            <option value="14">sql_query</option>
            <option value="15">sql_table</option>
        </select></td>

        </tr>
        <tr>
            <td><label for="validationDefault01">Ingrese el Nombre del Campo a Analizar respetando las
                mayúsculas y minúsculas</label><br></td>
            
          </tr>
          <tr>
            <td> <input name="nombreColumna" type="text" class="form-control" id="validationDefault01" required></td>
            
          </tr>
          <tr>
            <td><button class="btn btn-danger" type="submit">Calcular</button>
                <br></td>
            
          </tr>
        </form><br>
        </table>
</div><br><br>
<center>
    <br>
<div class="container">
    {% if data %}
    <center>
        <h2>Tabla Resumida de la fuente de datos</h2> <br> <p>A continuación se muestra una tabla con la media y mediana obtenida de la fuente de datos ingresada:</p> <br>
    </center>
    {{data|safe}}
    {% else %}
    {% endif %}
</div>
<br>
<div class="container">
    {% if data2 %}
    <center>
        <h2>Tabla con los valores completos</h2> <br> <p>En este apartado podemos visualizar una tabla con los cálculos completos:</p> <br>
    </center>
    {{data2|safe}}
    {% else %}
    {% endif %}
</div>
<br>
<div class="card">
    {% if image %}
    <center>
        <h1>Gráfica de los valores obtenidos</h1> <br> <p>Para finalizar se presenta el gráfico generado con los cálculos del apartado anterior:</p> <br>
    </center>
    <center><img src="data:image/png;base64,{{image}}"></center>
    {% else %}
    {% endif %}
</div>
</center>
{% endblock %}