{% extends "layout.html" %}

{% block title %}
<title>Monte Carlos</title>
{% endblock %}

{% block content %}
<BR>
    <h3 class=""><center>¿Que es MonteCarlo?</center></h3>
   <br>
    <a  href="#"><img src="/static/images/principalmontecarlo.jpg" class="imglayout2"></a>
    <br>
        <p style="text-align:justify; margin-left: 350px; margin-right: 100px;">Podemos definirlo como un metodo no determinístico o estadístico numérico, 
            que es usado para aproximar expresiones matemáticas complejas y costosas para evaluar con exactitud. 
            El presente metódo recibe ese nombre debido a las multiples referencias del Casino de MonteCarlo 
            por ser "la capital del juego de azar", al ser una de sus principales atracciones un generador de números aleatorios (la ruleta).
             El año aprocimado de su implementación data alrededor de 1944 y posteriormente fué mejorado con el desarrollo de computadoras</p>
<br>
             <h3 class=""><center>Proyecto final Montecarlo</center></h3>
             <br>
             <p style="text-align:justify; margin-left: 350px; margin-right: 100px;">Para la simulación de MonteCarlos se hará uso de la siguiente fuente de datos, la cual también fue implementada en la sección anterior de esta página web.</p>
<br>

             <div class="container">
    <center> {{data2|safe}}</center>
</div>
<br>
<h3 class=""><center>Selección del campo al cual se aplicará el metodo de MonteCarlo</center></h3>
<br>
<br>
    <p style="text-align:justify; margin-left: 350px; margin-right: 100px;">Filtramos la tabla principal por el campo de "Ventas_diarias", dando como resultado la siguiente tabla:</p>
<br>
<div class="container" style="margin-top:15px;">
    <center> {{deman|safe}}</center>
</div>
<br>
<h3 class=""><center>Sumatoria de las ventas diarias</center></h3>
<br>
<p style="text-align:justify; margin-left: 350px; margin-right: 100px;">Realizamos la sumatoria de las ventas diarias y agrupamos los valores de las ventas diarias por el día</p>
<br>
<div class="container" style="margin-top:15px;">
    <center> {{deman1|safe}}</center>
</div>
<br>
<h3 class=""><center>Importación de los valores de probabilidad</center></h3>
<br>
<p style="text-align:justify; margin-left: 350px; margin-right: 100px;">Insertamos la tabla con los valores de la probabilidad de cada día</p>
<br>

<div class="container" style="margin-top:15px;">
    <center> {{deman2|safe}}</center>
</div>
<br>
<h3 class=""><center>Sumatoria de las probabilidades acumulativa</center></h3>
<br>
<p style="text-align:justify; margin-left: 350px; margin-right: 100px;">Realizamos el cálculo de la suma acumulativa de las probabilidades a usar, dando como resultado la siguiente tabla:</p>
<br>
<div class="container" style="margin-top:15px;">
    <center> {{deman3|safe}}</center>
</div>
<br>
<h3 class=""><center>Establecer los valores mínimo y máximo de las probabilidades</center></h3>
<br>

<p style="text-align:justify; margin-left: 350px; margin-right: 100px;">Realizamos el cálculo de los límites inferiores y superiores de las probabilidades a usar, dando como resultado la siguiente tabla:</p>
<br>
<div class="container" style="margin-top:15px;">
    <center> {{deman4|safe}}</center>
</div>
<br>
<h3 class=""><center>Generación de números aleatorios</center></h3>
<br>
<br>

<p style="text-align:justify; margin-left: 350px; margin-right: 100px;">A continuación se muestran los resultados de la simulación, visualizados en la siguiente tabla:</p>
<br>
<div class="container" style="margin-top:15px;">
    <center> {{deman5|safe}}</center>
</div>
<br>

{% endblock %}